
/* Variables */

@import 'variables.css';


/* Class with tags */

/* Class */

.animatedBox:hover{
    transform: scale(1.05);
    transition: all ease-in-out, 0.5s;
}

.bold{
    font-weight: 800;
}

.box{
    width: 25%;
    padding: 20px;
    margin: 5% 10%;
    background-color: rgb(15, 102, 102);
    background-color: var(--boxBackgroundColor);
    border-radius: 5px;
    transition: all ease-in-out, 0.5s;
}

.closePNG{
    width: 30px;
    position: absolute;
}

.lessonClosePNG{
    transform: translateX(190px);
}

.cursorPointer{
    cursor: pointer;
}

.defaultColor{
    color: var(--mainPoliceColor);
}

.defaultHeaderMenuColor{
    color: var(--policeColor);
}

.flex{
    display: flex;
}

.flexCenter{
    justify-content: center;
    align-items: center;
}

.flexStart{
    justify-content: start;
    align-items: center;
}

.flexAround{
    justify-content: space-around;
    align-items: center;
}

.flexBetween{
    justify-content: space-between;
    align-items: center;
}

.grades-list {
    display: none;
}

.grades-list.active {
    display: block;
}

.lesson{
    background-color: white;
    color: black;

    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    max-height: 125px;
    overflow: hidden;


    transition: all ease-in-out, 0.5s;
}

.lesson:hover{
    cursor: pointer;
}

.lesson > div{
    background-color: lightgrey;
    padding: 10px;
    max-height: 60px;
    overflow: hidden;

    border-radius: 5px;

    transition: all ease-in-out, 0.5s;
}

.lesson h1, .lesson h2, .lesson h3{
    margin-top: 0;
}

.lesson.bigAgenda{
    max-height: inherit;
    height: auto;
    transition: all ease-in-out, 0.5s;
}

.lesson.bigAgenda > div{
    max-height: inherit;
    height: auto;
    overflow: auto;
    transition: all ease-in-out, 0.5s;
}

.noAlignItems{
    align-items: inherit;
}

.noDecoration{
    text-decoration: none;
    list-style: none;
    color: var(--mainPoliceColor);
}

.noDecoration > li {
    text-decoration: none;
    list-style: none;
}

.noMargin{
    margin: 0px;
}

.noMarginBottom{
    margin-bottom: 0px;
}

.noMarginTop{
    margin-top: 0px;
}

.noMarginRight{
    margin-right: 0px;
}

.noMarginLeft{
    margin-left: 0px;
}

.noPadding{
    padding: 0px;
}

.noPaddingBottom{
    padding-bottom: 0px;
}

.noPaddingTop{
    padding-top: 0px;
}

.noPaddingRight{
    padding-right: 0px;
}

.noPaddingLeft{
    padding-left: 0px;
}

.main-content-grades {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.marginAuto{
    margin: auto;
}

.marginTop10{
    margin-top: 10px;
}

.marginBottom10{
    margin-bottom: 10px;
}

.marginTop20{
    margin-top: 20px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginTop30{
    margin-top: 30px;
}

.marginBottom30{
    margin-bottom: 30px;
}

.marginTop40{
    margin-top: 40px;
}

.marginBottom40{
    margin-bottom: 40px;
}

.marginTopBottom8Pourcent{
    margin: 8% 0;
}

.padding5{
    padding: 5px;
}

.padding10{
    padding: 10px;
}

.paddingTop70{
    padding-top: 70px;
}

.pointer{
    cursor: pointer;
}

.popup > div{
    z-index: 2409;
    min-width: 200px;
    max-width: 300px;
    min-height: 30px;

    box-shadow: -2px 2px 5px #000000;

    border-radius: 5px;
    padding: 10px;
    background-color: var(--popupColor);
    color : var(--policeColor);

    animation: popupSlideDown 0.3s ease-out forwards;
}

.semester-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-color);
    padding: 20px;
}


.tab-button {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #2f3136;
    color: #dcddde;
}

.tab-button:hover {
    background-color: #36393f;
}

.tab-button.active {
    background-color: var(--highlight-color);
    color: #ffffff;
}

.tab-button.active:hover {
    background-color: #4752c4;
}

.textCenter{
    text-align: center;
}

.ulBottom{
    z-index: 3;
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: var(--rightPartWidth);
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid black;
    background-color: var(--rightPartColor);
}

.ulBottom a{
    margin-left: 5px;
}

.underline{
    text-decoration: underline;
}

.underlinePointer:hover{
    cursor: pointer;
    text-decoration: underline;
}

.height20{
    height: 20%;
}

.height50{
    height: 50%;
}

.height80{
    height: 80%;
}

.height100{
    height: 100%;
}

.width20{
    width: 20%;
}

.width50{
    width: 50%;
}

.width80{
    width: 80%;
}

.width100{
    width: 100%;
}

.widthAuto{
    width: auto;
}

.wrap{
    flex-wrap: wrap;
}





























.all-content{
    width: 100%;
}

.container-dashboard {
    display: flex;
    min-height: 100vh;
    position: relative; /* Permet aux éléments enfants d'utiliser un positionnement absolu par rapport à ce conteneur */
}

.main-content-dashboard {
    flex-grow: 1;
    display: flex; /* Utilisation de flexbox pour aligner les sections */
    flex-direction: column; /* Colonne par défaut pour les petits écrans */
}

.main-content-dashboard .recapSection {
    background-color: var(--card-bg);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.main-content-dashboard .recapSection > h2 {
    margin-bottom: 9px;
}

.main-content-dashboard .schedule-section, .main-content-dashboard .summary-section {
    width: inherit;
    max-width: inherit;
    margin: 10px;
}

.main-content-dashboard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.main-content-dashboard .header > h2 {
    margin: 0;
}

.main-content-dashboard h1,.main-content-dashboard h2 {
    margin-top: 0;
}

.main-content-dashboard nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-content-dashboard nav button {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.main-content-dashboard nav button:hover,
.main-content-dashboard nav button.active {
    background-color: var(--highlight-color);
}

/* Styles pour les sections de contenu */
.main-content-dashboard #schedule-content,
.main-content-dashboard #grades-content,
.main-content-dashboard #absences-content {
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 15px;
}

.main-content-dashboard #schedule-content > h3 {
    margin-top: 0;
}

.main-content-dashboard #scheduleParentBkgColor{
    /*background-color: var(--card-bg);*/
    background-color: var(--boxBackgroundColor);
    padding: 10px;
    border-radius: 5px;
}

.main-content-dashboard .course-item,
.main-content-dashboard .grade-item,
.main-content-dashboard .absence-item {
    background-color: var(--bg-color);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.main-content-dashboard .course-item h3,
.main-content-dashboard .grade-item h3,
.main-content-dashboard .absence-item h3 {
    margin-top: 0;
    color: var(--highlight-color);
}

.main-content-dashboard .course-item p,
.main-content-dashboard .grade-item p,
.main-content-dashboard .absence-item p {
    margin: 5px 0;
}

/* Styles pour les boutons de navigation de l'agenda */
.main-content-dashboard .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-left:auto; /* Aligne les boutons à droite */
    width:auto; /* Ajuste la largeur automatiquement */
    min-width: 104px;
    height: 47px;
}

.main-content-dashboard .navigation-buttons button {
    padding: 10px 17px;
    background-color: var(--highlight-color);
    border-radius: 5px;
    border:none;
    color:white;
    cursor:pointer;
    transition:.3s;
    font-size: 18px; /* Taille de la police pour les flèches */
}

.main-content-dashboard .navigation-buttons button:hover {
    background-color:#4752c4; /* Couleur d'hover plus foncée */
}

.main-content-dashboard .navigation-buttons button.clicked {
    animation: blob-animation 0.3s forwards; /* Animation lors du clic */
}

@keyframes blob-animation {
    0% {
        transform: scale(1); /* Taille normale */
    }
    50% {
        transform: scale(0.9); /* Zoom */
    }
    100% {
        transform: scale(1); /* Retour à la taille normale */
    }
}

.news-banner {
    height: 200px;
    background-color: var(--card-bg);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 0;
}


/* Media Queries pour le responsive */
@media screen and (min-width: 1000px) {
    .container-dashboard {
        flex-direction: row; /* Disposition en ligne sur les écrans plus larges */
    }

    .sidebar {
        width: 250px; /* Largeur fixe pour la barre latérale */
    }

    .main-content-dashboard {
        flex-direction: row; /* Reste en ligne sur les grands écrans */
        align-items:flex-start; /* Aligne le contenu en haut des sections */
    }

    .main-content-dashboard .recapSection {
        background-color: var(--boxBackgroundColor);
        margin-bottom: 50px;
    }

    .main-content-dashboard .schedule-section {
        width: 100%; /* Prend toute la largeur disponible */
        max-width: 450px; /* Largeur maximale pour l'emploi du temps */
        padding: 20px;
    }

    .main-content-dashboard .summary-section {
        flex-grow: 1;
        padding: 20px;
    }

    .main-content-dashboard .summary-section {
        margin-left :20px ; /* Ajoute un espace entre l'emploi du temps et le résumé sur grand écran */
    }
}