
/* Variables */

@import 'variables.css';


/* Big parts */
#header{
    display: flex;
    justify-content: space-between;
    max-height: var(--headerPartHeight);
    z-index: 2500;
}
#header > div > h1{
    margin: 0px;
    height: 100%;
    align-items: center;
    position: sticky;
    top: 0px;
    display: grid;
    
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;

}

#eula, #mainPart{
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#mainPart{
    z-index: 1;
    width: var(--mainPartWidth);
    background-color: var(--mainPartColor);
    display: block;
    height: var(--mainPartHeight);
    overflow: auto;
    color: var(--mainPoliceColor);
}

#mainPart::-webkit-scrollbar {
    display: none;
}

#mainHeader > div{
    background-color: var(--rightPartColor);
}

#prev-week:active, #next-week:active{
    transform: scale(0.9);
    transition: all ease-in-out 0.2s;
}

#plusAddEvent{
    background-color: var(--colorMain);
    color: var(--mainPoliceColor);
    width: 80px;
    height: 80px;
    position: fixed;
    right: 40px;
    bottom: 30px;

    border-radius: 35%;
    transition: all 0.4s ease-in-out;

    overflow: hidden;
}

#plusAddEvent::-webkit-scrollbar {
    display: none;
}

#plusAddEvent img{
    width: 50px;
    height: auto;

    position: absolute;
    bottom: 15px;
    right: 15px
}

#plusAddEvent div {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

#plusAddEvent.active div {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

#plusAddEvent.Active img{
    width: 50px;
    height: auto;

    position: sticky;
    bottom: 15px;
    left: 100%;
}

#plusAddEvent:hover{
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

#plusAddEvent.active{
    width: 40vw;
    height: 65vh;
    right: calc(var(--mainPartWidth) - 63vw);
    bottom: calc(15vh);
    transition: all 0.8s ease-in-out;

    border-radius: 10%;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    overflow: auto;
}

#plusAddEvent.active:hover{
    transform: inherit;
    cursor: inherit;
}

[id^="group-element-id"] > .random-div-class-for-groups{
    height: 70px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

[id^="group-element-id"] > .random-div-class-for-groups.active{
    height: auto;
    transition: all 0.5s ease-in-out;
}

#courses-container .container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: var(--boxBackgroundColor);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    height: 24px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#courses-container .container.active{
    height: auto;
    transition: all 0.5s ease-in-out;
}

#courses-container .group-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #40444b;
}

#courses-container .group-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

#courses-container .join-button {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#courses-container .join-button:hover {
    background-color: #5b6eae;
}

#courses-container .member-list {
    list-style-type: none;
    padding: 0;
}
#courses-container .member {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #40444b;
}
#courses-container .member:last-child {
    border-bottom: none;
}
#courses-container .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #7289da;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}
#courses-container .member-info {
    flex-grow: 1;
}
#courses-container .member-name {
    font-weight: bold;
    color: #ffffff;
}
#courses-container .member-fullname {
    font-size: 0.9em;
    color: #b9bbbe;
}

#rightPart ul{
    padding: 0px;
}

#rightPart ul hr{
    padding: 0px;
    width: 60%;
}

#rightPart ul li{
    height: 70px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: 800;
    color: var(--policeColor);
    
    list-style: none;

    border-radius: 40px 5px 40px 5px;
    transition: ease-in-out 0.5s;
}

#rightPart ul li:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
}

#rightPart ul li.active{
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
}

#rightPart{
    z-index: 2;
    width: var(--rightPartWidth);
    height: var(--mainPartHeight);
    background-color: var(--rightPartColor);
    display: block;
    overflow: auto;
}

#rightPart::-webkit-scrollbar {
    display: none;
}




/*Others*/

#allContainerDashboard{
    box-sizing: border-box;
}

#allContainerAbsences, #allContainerSchedule{
    box-sizing: border-box;
    min-width: 80%;
    max-width: var(--mainPartWidth);
    margin-top: 0;
}

#allContainerAbsences h1 {
    text-align: center;
    margin-bottom: 20px;
}

#allContainerAbsences table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden; /* Pour arrondir les coins */
}

#allContainerAbsences th, #allContainerAbsences td {
    padding: 12px 15px;
    text-align: left;
}

#allContainerAbsences th {
    background-color: var(--highlight-color); /* Couleur d'en-tête inspirée de Discord */
}

#allContainerAbsences tr:nth-child(even) {
    background-color: var(--card-bg); /* Couleur des lignes paires */
}

#allContainerAbsences tr:hover {
    background-color: #5C5F61; /* Couleur au survol */
}

#allContainerAbsences .justified {
    color: #43B581; /* Couleur verte pour "Justifié" */
}

#allContainerAbsences .not-justified {
    color: #F04747; /* Couleur rouge pour "Non Justifié" */
}

#allContainerSchedule{
    transform: translateY(-30px);
    min-width: 98%;
    max-width: var(--mainPartWidth);
    margin: auto;
}

#allContainerAbsences div{
    margin-top: 0;
}

#allContainerAbsences div div{
    max-width: 220px;
}


#allGradesContainer {
    max-height: 90%;
    display: flex;
    margin-bottom: 50px;
}

#allGradesContainer h1, #allGradesContainer h2 {
    margin-top: 0;
}

#allGradesContainer nav button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

#allGradesContainer nav button:hover, nav button.active {
    background-color: var(--highlight-color);
    border-radius: 5px;
}

#allGradesContainer .grades-container, .main-content-dashboard .grades-container {
    background-color: var(--card-bg);
    border-radius: 5px;
    display: flex;
    height: 80%;
    overflow: auto;
    flex-direction: column;
    max-height: 70vh;
}

#allGradesContainer .grades-header, .main-content-dashboard .grades-header {
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: bold;
    background-color: var(--highlight-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}

#allGradesContainer .grades-list {
    overflow-y: auto;
    flex-grow: 1;
}

#allGradesContainer .grade-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}

.main-content-dashboard .grades-header{
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
}
.main-content-dashboard .grade-item {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}


#allGradesContainer .grade-item:last-child {
    border-bottom: none;
}

#allGradesContainer .grade-item:hover {
    background-color: var(--hover-bg);
}

#allGradesContainer .grade-item span {
    padding: 5px;
}

#allGradesContainer .grade-notes {
    display: flex;
    flex-direction: column;
}

#allGradesContainer .grade-notes span {
    margin-bottom: 2px;
}

#loading-gif-account{
    margin: auto;
    display: block;
    width: 50px;
}

#account-presentation{
    margin-bottom: 50px;
}

#account-presentation .card {
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 340px;
    margin: auto;
}

#account-presentation .card-header {
    background: linear-gradient(90deg, #5865f2, #7289da);
    padding: 20px;
    text-align: center;
}

#account-presentation .avatar {
    border-radius: 50%;
    width: 80px;
    height: 100px;
    border: 4px solid var(--card-bg);
}

#account-presentation h2 {
    margin: 10px 0 5px;
    font-size: 1.5em;
}

#account-presentation .student-id {
    font-size: 0.9em;
    opacity: 0.8;
}

#account-presentation .card-body {
    padding: 20px;
}

#account-presentation .info-section {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

#account-presentation h3 {
    margin-top: 0;
    font-size: 1.1em;
    color: #7289da;
}

#account-presentation p {
    margin: 5px 0;
    font-size: 0.9em;
}

#account-presentation strong {
    color: #ffffff;
}

#buttonEula{
    width: 100% !important;
    background-color: var(--highlight-color);
}

#buttonEula:hover{
    width: 100% !important;
    background-color: var(--hover-color);
}

#calendar-grid h2{
    height: 50px;
    overflow: hidden;
    font-size: clamp(10px, 3vw, 21px);
}

/*#connection{
    z-index: 2407;
    display: none;
    position: absolute;
    top: var(--headerPartHeight);
    left: 0;
    width: 100%;
    height: var(--mainPartHeight);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}

#connection div{
    margin: 8% auto;
    max-height: 60%;
    width: 40%;
    overflow: auto;
}

#connection.active{
    display: block;
    transition: all ease-in-out 0.3s;
}*/

#containerAbsencesGrades{
    overflow: hidden;
    width: 60%;
}

#currAgenda{
    width: 30%;
}

#eula{
    display: none;
    position: absolute;
    z-index: 2408;
    top: var(--headerPartHeight);
    left: 0;
    width: 100%;
    height: var(--mainPartHeight);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}

#eula div{
    margin: auto;
    margin-top: 50px;
    width: 60%;
    overflow: auto;
}

#eula.active{
    display: block;
    transition: all ease-in-out 0.3s;
}

#event-manager{
    margin-bottom: 70px;
}

#firstTime{
    margin-top: 0;
}

#normalpopup > div{
    position: absolute;
    z-index: 2409;
    left: 50%;
    transform: translate(-50%, 0%);

    top: -200px;
    transition: all ease-in-out 0.5s;
}

#normalpopup > div.active{
    top: 5px;
    transition: all ease-in-out 0.5s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#popupMaster{
    width: var(--mainPartWidth);
    position: absolute;
    z-index: 2409;
}

#recapAbsences table, #recapGrades table{
    margin: 0;
    width: 100%;
    margin-right: 2px;
}

#recapAbsences div div, #recapGrades div div{
    max-height: 250px;
    overflow: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#recapAbsences thead, #recapGrades thead{
    background-color: white;
    color: black;
}

#recapAbsences tbody, #recapGrades tbody{
    background-color: lightgrey;
    color: black;
}

#replace{
    /*min-height: 100%;*/
    height: calc(100% - 70px)
    /*Add height: auto; only if you want your page to scroll
    Only add that with document.getElementById("replace").style.height with JS
    The property will be deleted when switching page*/
}

#semester1 h1, #semester2 h1{
    text-align: center;
}

#semester1 table, #semester2 table{
    margin: auto;
    width: 650px;
}

#semester1 thead, #semester2 thead{
    background-color: white;
    color: black;
}

#semester1 tbody, #semester2 tbody{
    background-color: lightgrey;
    color: black;
}

#semester2 hr{
    margin-top: 30px;
}

#softwareAccount > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
}

#stillpopup > div{
    position: absolute;
    z-index: 2409;
    right: 10px;
    top: -200px;
    transition: all ease-in-out 0.5s;
}

#stillpopup div img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#stillpopup > div.active{
    top: 5px;
    transition: all ease-in-out 0.5s;
}

#theme, .themeLightDark{
    max-height: var(--headerPartHeight);
    width: auto;
    margin-right: 10px;
}
#theme:hover, .themeLightDark:hover{
    cursor: pointer;
}

#logoGES{
    width: var(--rightPartWidth);
}
#logoGES img{
    max-width: 100%;
    max-height: 100%;
}

#loadingProject{
    display: block;
    margin: auto;
    width: 100px;
}



@media only screen and (max-width: 1500px) {
    #mainAgenda .box{
        width: 70%;
        padding-bottom: 70%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 1800px) {
    #allContainerAbsences{
        min-width: 90%;
        margin: 40px auto;
    }
}

@media only screen and (max-width: 1600px) {
    #allContainerAbsences{
        min-width: 95%;
    }
}


@media only screen and (max-width: 800px) {
    #containerAbsencesGrades{
        width: 84%;
    }

    #currAgenda{
        width: 60%;
    }
}