
/* Variables */

@import 'variables.css';

::-webkit-scrollbar {
    /* height: 12px; */
    width: 10px;
    background: var(--rightPartColor);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: var(--mainPartColor);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #000;
}

/* Tags  */

body{
    margin: 0px;
    background-color: var(--colorMain);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    color: var(--policeColor);
    background-color: var(--rightPartColor);
}

main{
    display: flex;
    color: var(--policeColor);
    max-height: var(--mainPartHeight);
}

nav{
    margin-bottom: 50px;
}


table {
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
  



@media only screen and (max-width: 1500px) {

}