.bg-connexion.active{
    background-color: #36393f;
    transition: all ease-in-out 0.2s;
    visibility: visible;
}

.bg-connexion {
    font-family: 'Arial', sans-serif;
    background-color: #36393f;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    transition: all ease-in-out 0.8s;
    position: absolute;
    z-index: 2600;
}

.login-container {
    background-color: var(--discord-dark);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    transform: translateY(-100vh);
}

.login-container h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.login-container .input-group {
    position: relative;
    margin-bottom: 25px;
}

.login-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #8e9297;
    pointer-events: none;
    transition: 0.3s ease all;
}

.login-container input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--discord-light);
    color: var(--text-color);
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}
.login-container input:hover{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--discord-lightlight);
    color: var(--text-color);
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}


.login-container input:focus + label,
.login-container input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #7289da;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #7289da;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #677bc4;
}

.login-container .forgot-password {
    color: #7289da;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

.login-container .forgot-password:hover {
    text-decoration: underline;
}

/* Styles pour la liste déroulante personnalisée */
.login-container .custom-select {
    position: relative;
    margin-bottom: 25px;
}

.login-container .select-selected {
    background-color: var(--discord-light);
    color: var(--text-color);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.login-container .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #dcddde transparent transparent transparent;
}

.login-container .select-items {
    position: absolute;
    background-color: var(--discord-dark);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0 0 3px 3px;
    border: 1px solid #7289da; /* Bordure ajoutée */
}

.login-container .select-items div {
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--discord-light); /* Bordure entre les éléments */
}

.login-container .select-items div:last-child {
    border-bottom: none; /* Supprime la bordure du dernier élément */
}

.login-container .select-items div:hover, .same-as-selected {
    background-color: #34373c;
}


.login-container .select-items div:hover, .same-as-selected {
    background-color: #34373c;
}

.login-container .select-hide {
    display: none;
}

.login-container.active {
    transform: translateY(0);
}

.login-container.goesUp {
    animation: goesUp 1.5s forwards;
}


.login-container.activeAnim {
    animation: fallAndBounce 1.5s forwards;
}

.login-container:not {
    animation: goesUp 1.5s forwards;
}


.login-container.shake {
    animation: upDownShake 0.2s forwards;
}


.login-container.noAnimation{
    transition: none !important;
    animation: none !important;
}